@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--light-blue: #CFE8FF;
	--light-yellow: #FFF2C6;
	--light-orange: #FFE0D3;
	--white: #ffffff;
	--black: #000000;
	--red: #ff0000;
	--light-red: #ffa07a;
	--green: #008000;
	--light-green: #90ee90;
	--blue: #0000ff;
	--light-blue: #add8e6;
	--deep-sky-blue: #00bfff;
	--orange: #ffa500;
	--light-orange: #ffcc99 ;
	--purple: #800080;
	--gold: #ffd700;
	--maroon: #800000;
	--yellow: #ffff00;
	--magenta: #ff00ff;
	--teal: #008080;
	--lime: #00ff00;
	--cyan: #00ffff;
	--grey: #808080;
	--light-grey: #eeeeee;
	--dark: #342E37;
	--dark-grey: #AAAAAA;
	--tomato: #ff6347;
}

html {
	overflow-x: hidden;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}





/*==================================== SIDEBAR ====================================*/

#sidebar {
	background: var(--light);
	font-family: var(--lato);
	width: 280px;
	height: 100%;
	top: 0;
	left: 0;
	position: fixed;
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
	z-index: 2000;
}

#sidebar::--webkit-scrollbar {
	display: none;
}

#sidebar.hide {
	width: 60px;
}

#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}

#sidebar .brand .logo {
	width: 50px;
	height: 50px;
	padding: 5px;
	border: 2px solid red;
}

#sidebar .brand .logo {
	width: 100%;
	height: 100%;
}

#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}

#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/*================================================== CONTENT ==================================================*/
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/*================================================== NAVBAR ==================================================*/
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
	border-bottom: 4px solid var(--green);
}

/*#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}*/

#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background-color: var(--red);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	background-color: var(--gold);
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/*================================================== MAIN ==================================================*/
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}









/* ============================================= EMARINCI NUMBR ============================================= */
.cardBox {
	position: relative;
	width: 100%;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
  }
  
  .cardBox .card {
	position: relative;
	background: white;
	padding: 30px;
	border-radius: 20px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }
  
  .cardBox .card .numbers {
	position: relative;
	font-family: "lipi-mood";
	font-weight: 500;
	font-size: 1rem;
	color: blue;
  }
  
  .cardBox .card .cardName {
	color: red;
	font-size: 2rem;
	margin-top: 5px;
  }
  
  .cardBox .card .iconBx {
	font-size: 3.5rem;
	color: var(--black2);
  }
  
  .cardBox .card .iconBx img {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
  }
  
  .cardBox .card .iconBx img:hover {
	background: var(--blue);
  }










/*================================================== EMARINCI NUMBR ==================================================
#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-red);
	color: var(--red);
	cursor: pointer;
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-green);
	color: var(--green);
	cursor: pointer;
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
	cursor: pointer;
}

#content main .box-info li:nth-child(4) .bx {
	background: var(--light-blue);
	color: var(--blue);
	cursor: pointer;
}

#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}*/













/*================================== TablE ==================================*/

#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	height: 670px;
	flex-grow: 1;
	flex-basis: 500px;
	border: 2px solid var(--red);
}

  
  /*===================================== Table Body =========================================*/
  
  #content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
	overflow-y: scroll;
}

.table-body {
	background-color: gol;
	width: 100%;
	max-height: 670px;
	border-radius: 0px;
	overflow: auto;
	overflow: overlay;
  }
	
  #advance-table {
	counter-reset: serial-number;
  }
	
  #advance-table tr {
	counter-increment: row;
  }

.head-sticky {
	background-color: var(--red);
	color: var(--white);
	font-size: 20px;
	font-weight: bold;
	position: sticky;
}
  
  #advance-table td:first-child:before {
	/*background: Red;*/
	color: black;
	min-width: 50px;
	min-height: 50px;
	padding: 5px;
	border-radius: 50px;
	counter-increment: serial-number;
	content: counter(row, bengali) '. ';
  }
  
  body.dark #advance-table td:first-child:before {
	color: white;
  }
  
  td img {
	width: 36px;
	height: 36px;
	margin-right: 10px;
	box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
	border-radius: 50%;
	vertical-align: middle;
  }
  
  body.dark td img {
	background-color: white;
  }
  
  .content table .head-sticky {
	background-color: red;
	color: white;
	font-size: 20px;
	font-family: 'solaiman-lipi';
	top: 45;
	position: -webkit-sticky;
	position: sticky;
  }
  
  .head-sticky th {
	text-align: center;
  }
  
  table, th {
	padding: 10px;
	font-family: 'solaiman-lipi';
	text-align: center;
	border-collapse: collapse;
  }
  
  table, td {
	padding: 10px 5px;
	font-family: 'solaiman-lipi';
	text-align: left;
	border-collapse: collapse;
  }
  
  body.dark table td {
	  color:  yellow;
  }
  
  thead .sticky {
	background-color: gold;
	color: green;
	top: 150;
	left: 0;
	cursor: pointer;
	font-family: 'solaiman-lipi';
	position: -webkit-sticky;
	position: sticky;
	text-transform: capitalize;
	z-index: 1;
  }
  
  tbody tr:nth-child(even) {
	background-color: #eeeeee;
  }
  
  body.dark tbody tr:nth-child(even) {
	background-color: #434343;
  }
  
  tbody tr {
	--delay: .1s;
	transition: .5s ease-in-out var(--delay), background-color 0s;
  }
  
  tbody tr.hide {
	opacity: 0;
	transform: translateX(100%);
  }
  
  tbody tr:hover {
	background-color: green !important;
  }
  
  tbody tr td,
  tbody tr td p,
  tbody tr td img {
	transition: .2s ease-in-out;
  }
  
  tbody tr.hide td,
  tbody tr.hide td p {
	padding: 0;
	font-family: 'solaiman-lipi';
	transition: .2s ease-in-out .5s;
  }
  
  tbody tr.hide td img {
	width: 0;
	height: 0;
	transition: .2s ease-in-out .5s;
  }
  
  tbody tr td sup {
	color: red;
	font-size: 5px;
	font-weight: 400;
  }
  
  
  /*================================== Tooltip Image ==================================*/
  .tooltip {
	margin-right: 20px;
	position: relative;
	display: inline-block;
	border-bottom: px dotted black;
  }
  
  .tooltip .tooltiptext {
	background-color: white;
	color: #fff;
	width: 120px;
	margin-bottom: 10px;
	padding: 5px;
	top: 100%;
	left: 50%;
	position: absolute;
	opacity: 0;
	text-align: center;
	border: 2px solid red;
	border-radius: px;
	transition: opacity 0.3s;
	visibility: hidden;
	z-index: 999;
	transform: translateX(-50%);
  }
  
  .tooltip .tooltiptext::after {
	content: " ";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 10px;
	border-style: solid;
	border-color: red transparent transparent transparent;
  }
	
  .tooltip .tooltiptext img {
	width: 100px;
	height: 100px;
	background-size: cover;
  }
  
  .tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
  }
  
  .tooltip.top .tooltiptext {
	top: auto;
	bottom: 100%;
  }
  
  /*================================== Scroll Bar ==================================*/
  
  .table-body::-webkit-scrollbar {
	width: 5px;
	height: 5px;
  }
  
  .table-body::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to top, red,orange,yellow,green,blue,indigo,violet);
	visibility: hidden;
	border-radius: 5px;
  }
  
  .table-body:hover::-webkit-scrollbar-thumb { 
	visibility: visible;
  }










  



/*
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}*/








/* ============================================= OFFISAR LIST ============================================= */
.offisar-table-box {
	position: relative;
	display: grid;
	min-height: 550px;
	padding: 20px;
	background: var(--white);
	box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
  }

.offisar-table-box table {
	width: 100%;
  }
  
  .offisar-table-box table th {
	  background: Black;
	  color: White;
	  text-align: center;
	  padding: 5px;
	  font-size: 13px;
	  border-bottom: 2px solid red;
  }
  
  .offisar-table-box table td {
	color: black;
	padding: 10px;
	font-weight: 600;
	text-align: center;
  }
  
  .offisar-table .imgBx {
	position: relative;
	width: 40px;
	height: 40px;
	border: 2px solid red;
	border-radius: 50px;
	overflow: hidden;
  }
  .offisar-table .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }
  
  .offisar-table h4 {
	color: Blue;
	font-family: timesBold;
  }
  
  .offisar-table span {
	color: red;
	font-size: 10px;
  }
  
  .offisar-table tr:hover {
	background: #e9b10a;
	color: var(--white);
  }
  
  .offisar-table .offisarcall img {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 50px;
	box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
  }








/* ============================================= FOOTRE ============================================= */

.footer {
	background-color: blue;
	margin-top: 50px;
	padding: 5px;
	position: fixe;
	right: 0;
	bottom: 0;
	border-top: 10px solid yellow;
  }
  
  .footer .marquee {
	background-color: yellow;
	width: 100%;
	height: ;
	margin: 5px 0px;
	padding: 0px 3px;
	font-family: ;
	font-weight: bold;
	overflow: hidden;
	outline: 2px solid red;
	border-left:25px solid red;
	border-right:25px solid red; 
	border-radius: 40px 40px 0px 0px;
  }
  
  .footer span {
	color: Red;
	padding: ;
	font-size: 30px;
	font-family: 'solaiman-lipi', Times;
  }
  
  .footer h2 {
	background-color: Green;
	color: yellow;
	margin-top: 5px;
	padding: 0px;
	font-size: 30px;
	font-family: 'solaiman-lipi', Times;
	text-align: center;
	outline: 2px solid yellow;
	border-left:25px solid yellow;
	border-right:25px solid yellow; 
	border-radius: 0px 0px 40px 40px;
  }
  
  .footer h2 a {
	color: red;
	font-size: 15px;
  }
  
  .footer p {
	color: white;
	padding: 5px 0px;
	font-size: 15px;
	font-family: 'solaiman-lipi', Times;
	text-align: center;
  }
  
  .footer a {
	color: yellow;
	font-size: 20px;
	font-weight: bold;
	font-family: 'solaiman-lipi', Times;
	text-decoration: none;
  }
  
  .footer .flag {
	width: 60px;
	height: 45px;
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px solid yellow;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  /* ============================================= FLOATING BUTTON ============================================= */
  @-webkit-keyframes come-in {
	0% {
	  -webkit-transform: translatey(100px);
			  transform: translatey(100px);
	  opacity: 0;
	}
	30% {
	  -webkit-transform: translateX(-50px) scale(0.4);
			  transform: translateX(-50px) scale(0.4);
	}
	70% {
	  -webkit-transform: translateX(0px) scale(1.2);
			  transform: translateX(0px) scale(1.2);
	}
	100% {
	  -webkit-transform: translatey(0px) scale(1);
			  transform: translatey(0px) scale(1);
	  opacity: 1;
	}
  }
  @keyframes come-in {
	0% {
	  -webkit-transform: translatey(100px);
			  transform: translatey(100px);
	  opacity: 0;
	}
	30% {
	  -webkit-transform: translateX(-50px) scale(0.4);
			  transform: translateX(-50px) scale(0.4);
	}
	70% {
	  -webkit-transform: translateX(0px) scale(1.2);
			  transform: translateX(0px) scale(1.2);
	}
	100% {
	  -webkit-transform: translatey(0px) scale(1);
			  transform: translatey(0px) scale(1);
	  opacity: 1;
	}
  }
  
  .floating-container {
	position: fixed;
	width: 100px;
	height: 100px;
	bottom: 0;
	right: 0;
	margin: 35px -10px;
  }
  .floating-container:hover {
	height: 300px;
  }
  .floating-container:hover .floating-button {
	box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
	-webkit-transform: translatey(5px);
			transform: translatey(5px);
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
  }
  .floating-container:hover .element-container .float-element:nth-child(1) {
	-webkit-animation: come-in 0.4s forwards 0.2s;
			animation: come-in 0.4s forwards 0.2s;
  }
  .floating-container:hover .element-container .float-element:nth-child(2) {
	-webkit-animation: come-in 0.4s forwards 0.4s;
			animation: come-in 0.4s forwards 0.4s;
  }
  .floating-container:hover .element-container .float-element:nth-child(3) {
	-webkit-animation: come-in 0.4s forwards 0.6s;
			animation: come-in 0.4s forwards 0.6s;
  }
  .floating-container .floating-button {
	position: absolute;
	width: 65px;
	height: 65px;
	background: yellow;
	bottom: 0;
	border-radius: 50%;
	left: 0;
	right: 0;
	margin: auto;
	color: red;
	line-height: 45px;
	text-align: center;
	font-size: 30px;
	z-index: 100;
	border: 5px solid yellow;
	box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
  }
  
  .floating-container .float-element {
	position: relative;
	display: block;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	margin: 15px auto;
	color: white;
	font-weight: 500;
	text-align: center;
	line-height: 50px;
	z-index: 0;
	opacity: 0;
	-webkit-transform: translateY(100px);
			transform: translateY(100px);
  }
  .floating-container .float-element .material-images {
	width: 50px;
	height: 50px;
  }
  
  .floating-container .float-element:nth-child(1) {
	background: green;
	box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
  }
  .floating-container .float-element:nth-child(2) {
	background: red;
	box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
  }
  .floating-container .float-element:nth-child(3) {
	background: blue;
	box-shadow: 2px 2px 5px Red, -2px -2px 5px Green;
  }
/* MAIN */
/* CONTENT */







/* ============================================= MOBILE SCREEN ============================================= */
@media screen and (max-width: 768px) {
	#content {
		  width: calc(100% - 60px);
		  left: 200px;
	  }

	  #content nav {
		background: var(--red);
	}
	  
	  #content nav i {
		  color: yellow;
		  font-size: 20px;
		  font-weight: bold;
	  }
	  
	  #content nav .bx-menu {
		  color: var(--dark);
		  font-size: 30px;
		  font-weight: bold;
	  }
  
	  #content nav .nav-link {
		  display: none;
	  }

	  #content nav .switch-mode {
		background-color: var(--green);
	  }
	  
	  #sidebar {
	  background: green;
	  width: 200px;
	  border-right: 4px solid red;
  }
	  
	  #sidebar.hide {
	  width: 0px;
  }
  
  #sidebar.hide ~ #content {
	  width: calc(100% - 0px);
	  left: 0px;
  }
  }
  
  
  
  
  
  
  @media screen and (max-width: 576px) {
	  #content nav form .form-input input {
		  display: none;
	  }
  
	  #content nav form .form-input button {
		  width: auto;
		  height: auto;
		  background: transparent;
		  border-radius: none;
		  color: var(--dark);
	  }
  
	  #content nav form.show .form-input input {
		  display: block;
		  width: 100%;
	  }
	  #content nav form.show .form-input button {
		  width: 36px;
		  height: 100%;
		  border-radius: 0 36px 36px 0;
		  color: var(--light);
		  background: var(--green);
	  }
  
	  #content nav form.show ~ .notification,
	  #content nav form.show ~ .profile {
		  display: none;
	  }
  
	  #content main .box-info {
		  grid-template-columns: 1fr;
	  }
  
	  #content main .table-data .head {
		  min-width: 420px;
	  }
	  #content main .table-data .order table {
		  min-width: 420px;
	  }
	  #content main .table-data .todo .todo-list {
		  min-width: 420px;
	  }
  }